/*
* IMAGES RADIUS MOBILE
*/
%radius-mobile{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/*
*CARD RADIUS MOBILE
*/
%card-radius-mobile{
    border-radius: 1rem;
}

/*
*IMGS DESKTOP
*/
%radius-img-desktop{
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}